body{
    text-align: center;
}
#top{
    border-radius: 5px;
    width: 100%;
    height: 180px;
    background-color: orange;
    display: block;
    margin: 0;
    overflow: hidden;
    text-align: left;
}

#items{
    align-items: center;
}
#top-label{
    height: 15px;
    padding: 15px;
    padding-left: 15px;
}
#top-label a{
    font-family: cursive;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}
#top-optional{
    width: 100%;
    height: 50px;
    background-color: darkslategrey;
    color: lightcyan;
    padding-left: 20px;
}
#top-optional h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15px;
}
#top-optional label{
    opacity: 0.3;
}
.skip_div{
    height: 100px;
    width: 100%;
    background-color: lightgray;
    padding-bottom: 100px;
}
#skip-btn, #skip_btn{
    width: 100px;
    padding-top: 10px;
    height:  30px;
    background-color: orange;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#skip_btn{
    float: right;
    width: 100%;
    margin-top: 20px;

}
#skip-btn:hover, #skip_btn:hover{
    opacity: .3;
}
#flight-info{
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}

#skip-btn{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.skip_div .babr{
    display: inline-block;
    float: right;

}
#basket{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    background-color: orange;
    width: 150px;
    height: 19px;
    margin-right: 20px;
    margin-top: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
#breakdown{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 20px;
    width: 125px;
    padding-left: 25px;
    background-color: orange;
    font-size: 12px;
}
.block{
    display: inline-block;
    /* text-align: center; */
}
#lhs{
    margin-top: 5px;
    width: 100%;
    background-color: lightblue;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
}
#lhs h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#passengerList{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.head_outbound{
    margin-left: 30px;
}

#psList{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.adult{
    display: flex;
    position: relative;
    margin-left: 15px;
    cursor: pointer;
}
.adult_img{
    display: block;
    width: 30px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: 30px;
    background-image: url(/static/pics/passengers-adult.png);
    background-color: orange;
}
.adult_img:hover, .cspan:hover{
    background-color: darkblue;
}

.control_img{
    width: 15px;
    height: 15px;
    margin-top: 19px;
    margin-right: 10px;
    background-size: 15px;
}
.control_img.current{
    background-image: url(/static/pics/control-icon-play-hovered.png);
}
.adult_text{
    margin: 5px;
    padding-top: 12px;
    color: darkcyan;
    font-weight: bolder;
}
.adult_text:hover{
    color: darkblue;
}
.cspan{
    width: 48%;
    height: 35px;
    margin-top: 10px;
    background-color: darkcyan;
}
.cspan div{
    float: left;
}
.seat_num{
    margin-top: 8px;
    margin-left: 65px;
    padding-left: 15px;
    font-weight: bold;
    color: beige;
}
.nose{
    height: 90px;
    background-size: 100%;
    background-image: url(/static/pics/320-nose.png);
}
.tail{
    height: 90px;
    margin:auto;
    background-size: 100%;
    background-image: url(/static/pics/320-tail.png);
}

.del_div{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 5px;
    background-size: 20px;
    background-image: url(/static/pics/Remove-Hover.png);
}
.cspan div:hover{
    opacity: 0.7;
}
.seat.available.occupied{
    background-image: url(/static/pics/seat-occupied-by-adult.png);
}
.seat.available{
    background-image: url(/static/pics/seat-available.png);
}
.seat.unavailable{
    background-image: url(/static/pics/seat-unavailable.png);
    cursor: unset;
}
.seat{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-image: url(/static/seat-available.png); */
    background-size: cover;
    cursor: pointer;
    padding: 7px;
}
.rprice{
    margin-top: 5px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 30%;
    margin-left: 35%;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
.rband{
    padding-bottom: 3px;
    padding-top: 2px;
    border-bottom: 1px solid lightblue;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}
.rowshow{
    display: inline-block;
    width: 20px;
    color: blanchedalmond;
    background: darkcyan;
    color: lightblue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.block{
    display:inline-block;
}
#colnum{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#colnum span{
    padding: 18px;
}
#rhs{
    margin: 20px;
    margin-top: 5px;
    display: inline-block;
    width:30%;
    background-color: lightblue;
    border-radius: 10px;
    height: 100%;
}

#rhs h3{
    text-align: left;
}
#lhs, #lhs h2{
    text-align: left;
    width:320px;
    display: inline-block;
    vertical-align: top;
}
#center{
    margin: 20px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:320px;
    display: inline-block;
    background-color:grey;
    vertical-align: top;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: lightcyan;
}
#center div{
    font-size: 12px;
}
.fares{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}
.fare_pass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.allfare .fare_pass{
    float: left;
}
.allfare .numpass{
    float: right;
}
.numpass{
    margin-right: 5px;
}
.country, .airport{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.flight, .dtime, .atime{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

.flight_details{
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    padding-right: 5px;
}
.outbound_seats .band{
    float: left;
    margin-top: 5px;
}
.outbound_seats .price{
    float: right;
    margin-top: 5px;
}
.outbound_seats div{
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-top: 5px;
}
.band{
    margin-right: 110px;
}
.price div{
    float: right;
    padding-right: 5px;
}
#inbound, #outbound{
    height: 400px;
    text-align: left;
}
#outbound h3, #inbound h3{
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#inbound{
    padding-top: 5px;
    background-color: lightseagreen;

}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    float: right;
    padding: 0;
    padding-right: 15px;
    margin: 0;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width:200px){
    .sidenav {width: 100%};
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .pricebreakdown{
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

