.block{
    display: inline-block;
}

.seat.available.occupied{
    background-image: url(/static/seat-occupied-by-adult.png);
}

.seat.available{
    background-image: url(/static/seat-available.png);
}
.seat.unavailable{
    background-image: url(/static/seat-unavailable.png);
}

.rowshow{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.seat{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-image: url(/static/seat-available.png); */
    background-size: cover;
    cursor: pointer;
}*


#rhs{
    display: inline-block;
    width:320px;
    background-color: #f2f2f2;
}
#lhs{
    width:320px;
    display: inline-block;
    background-color:aqua;
    vertical-align: top;
}
#center{
    width:310px;
    display: inline-block;
    background-color:pink;
    vertical-align: top;
}

.block{
    display:inline-block;
}

