<!DOCTYPE html>
<html>
    <head>
        <script src="static/seats.js" defer></script>
        <link rel="stylesheet" href="static/seats.css">
    </head>
    <body>
       <div id="top"></div> 
       <div id="lhs">
        <h2>Outbound</h2>
        <div>For each passenger, please select from the available seats.</div>
        <div id="passengerList"></div>
        </div> 
       <div id="center">Aircraft
        <!-- row 1 -->
            <div class="row" row="row_1">
                <div class="block">
                    <div class="seat" id="seat_1A"></div>
                    <div class="seat" id="seat_1B"></div>
                    <div class="seat" id="seat_1C"></div>
                </div>  
                1  
                <div class="block">
                    <div class="seat" id="seat_1D"></div>
                    <div class="seat" id="seat_1E"></div>
                    <div class="seat" id="seat_1F"></div>
                </div>
            </div>
            <!-- row 2 -->
            <div class="row" row="row_2">
                <div class="block">
                    <div class="seat" id="seat_2A"></div>
                    <div class="seat" id="seat_2B"></div>
                    <div class="seat" id="seat_2C"></div>
                </div>  
                2
                <div class="block">
                    <div class="seat" id="seat_2D"></div>
                    <div class="seat" id="seat_2E"></div>
                    <div class="seat" id="seat_2F"></div>
                </div>
            </div>
            <!-- row 3 -->
            <div class="row" row="row_3">
                <div class="block">
                    <div class="seat" id="seat_3A"></div>
                    <div class="seat" id="seat_3B"></div>
                    <div class="seat" id="seat_3C"></div>
                </div>  
                3
                <div class="block">
                    <div class="seat" id="seat_3D"></div>
                    <div class="seat" id="seat_3E"></div>
                    <div class="seat" id="seat_3F"></div>
                </div>
            </div>
            <!-- row 4 -->
            <div class="row" row="row_4">
                <div class="block">
                    <div class="seat" id="seat_4A"></div>
                    <div class="seat" id="seat_4B"></div>
                    <div class="seat" id="seat_4C"></div>
                </div>  
                4
                <div class="block">
                    <div class="seat" id="seat_4D"></div>
                    <div class="seat" id="seat_4E"></div>
                    <div class="seat" id="seat_4F"></div>
                </div>
            </div>
        </div>
       <div id="rhs">
        <h3>Basket £<span id=basketTotal></span></h3>
        <div id="outbound"></div>
        <div id="inbound"></div>
       </div>
    </body>
</html>