<!DOCTYPE html>
<html>
    <head>
        <script src="static/seats.js" defer></script>
        <link rel="stylesheet" href="static/seats.css">
    </head>
    <body>
       <div id="top"></div> 
       <div id="lhs">
        <h2 class="head_outbound">Outbound
            <hr class="hr_outbound">      
        </h2>  
        <div>For each passenger, please select from the available seats.</div>
        <div id="passengerList"></div>
        </div> 
       <div id="center">Aircraft
       </div>
       <div id="rhs">
        <h3>Basket £<span id=basketTotal></span></h3>
        <div id="outbound"></div>
        <div id="inbound"></div>
       </div>
    </body>
</html>